.vc-autoreact-emojiGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(36px, 1fr));
    gap: 2px;
    height: 240px;
    padding: 4px;
    background: var(--background-secondary);
    border-radius: 8px;
}
